<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.jetbrains.hadoop_netdisk.mapper.MyFileMapper">

    <resultMap id="FileResultMap" type="org.jetbrains.hadoop_netdisk.model.MyFile">
        <result column="owner" jdbcType="VARCHAR" property="owner" />
        <result column="file_md5hashcode" jdbcType="CHAR" property="fileMD5HashCode" />
        <result column="full_name" jdbcType="VARCHAR" property="fullName" />
        <result column="file_name" jdbcType="VARCHAR" property="fileName" />
        <result column="file_size" jdbcType="DOUBLE" property="fileSize" />
        <result column="upload_date" jdbcType="DATE" property="uploadDate" />
        <result column="is_deleted" jdbcType="BOOLEAN" property="isDeleted" />
        <result column="delete_date" jdbcType="DATE" property="deleteDate" />
        <result column="is_shared" jdbcType="BOOLEAN" property="isShared" />
        <result column="share_date" jdbcType="DATE" property="shareDate" />
        <result column="share_expire_date" jdbcType="DATE" property="shareExpireDate" />
        <result column="share_encrypt" jdbcType="BOOLEAN" property="shareEncrypt" />
        <result column="share_encrypt_code" jdbcType="VARCHAR" property="shareEncryptCode" />
        <result column="download_count" jdbcType="INTEGER" property="downloadCount" />
    </resultMap>

    <!-- 通过fileMD5HashCode获取文件 -->
    <select id="getDetailByFileMD5HashCode" resultMap="FileResultMap">
        SELECT *
        FROM hadoop.files
        WHERE file_md5hashcode = #{fileMD5HashCode}
    </select>

    <!-- 通过fullName获取文件 -->
    <select id="getDetailByFullName" resultMap="FileResultMap">
        SELECT *
        FROM hadoop.files
        WHERE full_name = #{fullName}
    </select>

    <!-- 获取分享文件列表 -->
    <select id="getSharedFiles" resultMap="FileResultMap">
        SELECT *
        FROM hadoop.files
        WHERE is_shared = TRUE
    </select>

    <!-- 将分享文件列表按下载次数排序 -->
    <select id="getSharedFilesOrderByDownloadCount" resultMap="FileResultMap">
        SELECT *
        FROM hadoop.files
        WHERE is_shared = TRUE
        ORDER BY #{downloadCount} DESC
    </select>

    <!-- 将分享文件列表按分享时间排序 -->
    <select id="getSharedFilesOrderByShareDate" resultMap="FileResultMap">
        SELECT *
        FROM hadoop.files
        WHERE is_shared = TRUE
        ORDER BY #{sharedDate}
    </select>

    <!-- 搜索用户文件 -->
    <select id="searchFiles" resultMap="FileResultMap">
        SELECT *
        FROM hadoop.files
        WHERE owner = #{username} AND file_name LIKE concat('%', #{query}, '%')
    </select>

    <!-- 搜索已分享文件 -->
    <select id="searchSharedFiles" resultMap="FileResultMap">
        SELECT *
        FROM hadoop.files
        WHERE is_shared = TRUE AND file_name LIKE concat('%', #{query}, '%')
    </select>

    <!-- 获取某个用户分享的文件列表 -->
    <select id="getSharedFilesByUsername" resultMap="FileResultMap">
        SELECT *
        FROM hadoop.files
        WHERE is_shared = TRUE AND owner = #{usernmae}
    </select>

    <!-- 查询某用户分享的文件数 -->
    <select id="getSharedFilesCount" resultType="INTEGER">
        SELECT count(owner)
        FROM hadoop.files
        WHERE is_shared = TRUE AND owner = #{username}
    </select>

    <!-- 查询某用户分享文件的下载次数总合 -->
    <select id="getTotalDownloadCount" resultType="INTEGER">
        SELECT sum(download_count)
        FROM hadoop.files
        WHERE is_shared = TRUE AND owner = #{username}
    </select>

    <!-- 增加下载次数 -->
    <update id="increaseDownloadCount">
        UPDATE hadoop.files
        SET download_count = download_count + 1
        WHERE full_name = #{fileMD5HashCode}
    </update>

    <!-- 插入 -->
    <insert id="insert">
        INSERT INTO hadoop.files(owner, file_md5hashcode, full_name, file_name, file_size)
        VALUES (#{owner}, #{fileMD5HashCode}, #{fullName}, #{fileName}, #{fileSize})
    </insert>

    <!-- 重命名 -->
    <update id="rename">
        UPDATE hadoop.files
        SET full_name = #{full_name},
            file_size = #{file_name}
        WHERE file_md5hashcode = #{fileMD5HashCode}
    </update>

    <!-- 删除 -->
    <update id="delete">
        UPDATE hadoop.files
        SET is_deleted = TRUE,
            delete_date = now()
        WHERE file_md5hashcode = #{fileMD5HashCode}
    </update>

    <!-- 分享 -->
    <update id="share">
        UPDATE hadoop.files
        <set>
            <if test="1 == 1">is_shared = TRUE,</if>
            <if test="1 == 1">share_date = now(),</if>
            <if test="1 == 1">share_expire_date = date_add(now(), INTERVAL #{shareExpireDay} DAY),</if>
            <if test="shareEncrypt == true">
                share_encrypt = TRUE,
                share_encrypt_code = #{shareEncryptCode}
            </if>
        </set>
        WHERE file_md5hashcode = #{fileMD5HashCode}
    </update>
</mapper>