<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jetbrains.hadoop_netdisk.mapper.UserMapper">

    <resultMap id="UserResultMap" type="org.jetbrains.hadoop_netdisk.model.User">
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="used_capacity" jdbcType="DOUBLE" property="usedCapacity" />
        <result column="total_capacity" jdbcType="DOUBLE" property="totalCapacity" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="gender" jdbcType="INTEGER" property="gender" />
        <result column="bio" jdbcType="VARCHAR" property="bio" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    </resultMap>

    <!-- 查询用户详尽信息 -->
    <select id="query" parameterType="String" resultMap="UserResultMap">
        SELECT *
        FROM hadoop.users
        WHERE username = #{username};
    </select>

    <!-- 添加一个用户 -->
    <insert id="add">
        INSERT INTO hadoop.users(username, password)
        VALUES (#{username}, #{password});
    </insert>

    <!-- 删除一个用户 -->
    <delete id="delete">
        DELETE FROM hadoop.users
        WHERE username = #{username};
    </delete>

    <!-- 修改用户资料 -->
    <update id="update">
        UPDATE hadoop.users
        <set>
            <if test="password != null">hashed_password = #{password},</if>
            <if test="age != null">age = #{age},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="bio != null">bio = #{bio},</if>
            <if test="avatar != null}">avatar = #{avatar}</if>
        </set>
        WHERE username = #{username};
    </update>

    <!-- 上传或删除文件后改变用户的已用容量 -->
    <update id="updateUsedCapacity">
        UPDATE hadoop.users
        SET used_capacity = #{usedCapacity}
        WHERE username = #{username};
    </update>
</mapper>