.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    box-shadow: none
}

.col-center {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
