body.container-fluid.row.col-3.accordion.card.card-header:hover {
    cursor: hand;
    background-color: burlywood;
}

body.container-fluid.row.col-7.accordion.card.card-header:hover {
    cursor: hand;
    background-color: burlywood;
}