<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>关于我</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>我的信息</h1>
<p th:text="${user.getUsername()}" />
<p th:text="${user.getHashedPassword()}" />
<p th:text="${user.getAge()}" />
<p th:text="${user.getUsedCapacity()}" />
<p th:text="${user.getTotalCapacity()}" />
<p th:text="${user.getAge()}" />
<p th:text="${user.getGender()}" />
<p th:text="${user.getBio()}" />
<p th:text="${user.getAvatar()}" />
</body>
</html>