<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/user/login}" th:object="${user}" method="post">
    <p>用户名: <input type="text" th:field="*{username}" /></p>
    <p>密码: <input type="text" th:field="*{hashedPassword}" /></p>
    <p>
        <input type="submit" value="登录" />
        <input type="button" th:action="@{/user/register}" method="get" value="注册" />
    </p>
</form>
</body>
</html>