<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>用户登录</h1>

<div th:if="${msg}">
    <h1 th:text="${msg}"></h1>
</div>
<form action="#" th:action="@{/user/login}" th:object="${user}" method="post">
    <p>用户名: <input type="text" th:field="*{username}" /> </p>
    <p>密码: <input type="text" th:field="*{hashedPassword}" /></p>
    <p>
        <input type="submit" value="登录" />
    </p>
</form>

<form th:action="@{/user/register}" th:method="get">
    <input type="submit" th:action="@{/user/register}" value="注册" />
</form>
</body>
</html>