<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>Hadoop网盘</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${user.getUsername()}">的网盘</h1>
<p th:text="${user.getUsername()}"></p>
<p th:text="${user.getHashedPassword()}"></p>
<p th:text="${user.getAge()}"></p>
<p th:text="${user.getUsedCapacity()}"></p>
<p th:text="${user.getTotalCapacity()}"></p>
<p th:text="${user.getAge()}"></p>
<p th:text="${user.getGender()}"></p>
<p th:text="${user.getBio()}"></p>
<p th:text="${user.getAvatar()}"></p>
</body>
</html>