<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head>
    <title>Hadoop网盘</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="${user.getUsername()}">的网盘</h1>

<table>
    <tr>
        <th>fullName</th>
        <th>fileName</th>
        <th>fileSize</th>
        <th>isDir</th>
    </tr>
    <tr th:each="file : ${fileList}">
        <td th:text="${file.get('fullName')}"></td>
        <td th:text="${file.get('fileName')}"></td>
        <td th:text="${file.get('fileSize')}"></td>
        <td th:text="${file.get('isDir')}"></td>
    </tr>
</table>


<form id="upload" th:action="@{/file/upload}" th:method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <button type="submit">上传</button>
</form>

<form id="logout" th:action="@{/user/logout}" th:method="post">
    <input type="submit" value="退出登录">
</form>

<form id="unregister" th:action="@{/user/unregister}" th:method="post">
    <input type="submit" value="注销用户">
</form>

<form id="about" th:action="@{/user/about}" th:method="post">
    <input type="submit" value="关于我">
</form>

</body>
</html>